a {
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

button {
    opacity: 0;
    position: absolute;
    height: 4rem;
    width: 7rem;
    z-index: 3;
    cursor: pointer;
}

.left-button {
    top: 2rem;
    left: 27.5rem;
}

.right-button {
    top: 2rem;
    left: 47.5rem;
}

.image-container {
    background-image: url(pictures/pexels-photo-248515.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 65%;
}

.blue {
    color: hsl(226, 75%, 45%);
}

.grey {
    color: grey;
}

.hidden {
    visibility: hidden;
}

.typing {
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(40, end);
}

.two {
    animation-delay: 2s;
}

.three {
    animation-delay: 5s;
}

.revealed {
    visibility: visible;
}
  
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

#main-container {
    height: 27rem;
    width: 55rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 7rem;
    left: 12rem;
    background-color: rgb(252, 252, 252);
    z-index: 1;
}

#logo {
    margin-top: 4rem;
    margin-left: 3rem;
    height: 19rem;
}

#slides-container {
    position: relative;
    top: 7rem;
    left: 4rem;
    height: 28rem;
    width: 45rem;
    background-color: black;
    border: solid white;
    overflow: hidden;
}

#presentation {
    position: relative;
    height: 25rem;
    width: 40rem;
    padding-top: 3rem;
    padding-left: 5rem;
    color: white;
    font-size: 1.75rem;
    line-height: 5rem;
    font-family: monospace;
    z-index: 2;
}

.slide {
    opacity: 0;
    position: relative;
    height: 28rem;
    width: 45rem;
    transition: 800ms opacity ease-in-out;
    transition-delay: 800ms;
}

.description {
    position: relative;
    height: 28rem;
    width: 45rem;
    transition: 800ms opacity ease-in-out;
    transition-delay: 800ms;
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 1;
}

.text-box {
    position: relative;
}

.text-box1{
    top: 14rem;
    left: 2rem;
    width: 70%;
}

.text-box2{
    top: 15rem;
    left: -5rem;
    width: 70%;
}

.text-box p {
    padding-right: 2rem;
    padding-left: 8rem;
}

.text-box1 p {
    text-align: right;
}

.word-counter {
    top: -29.2rem;
    background-image: url(pictures/word\ counter.jpg);
    background-size: contain;
    filter: saturate(50%)
}

.hotel {
    top: -58.35rem;
    background-image: url(pictures/hotel\ website.png);
    background-size: cover;
    filter: saturate(50%);
}

.hotel img {
    max-width: 100%;
}

.active {
    opacity: 1;
    z-index: 1;
}

.arrow span {
    border-bottom: 5px solid rgba(128, 128, 128, 0.75);
    border-right: 5px solid rgba(128, 128, 128, 0.75);
}

.left {
    position: absolute;
    top: 3rem;
    left: 31rem;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
}

.left span {
    display: block;
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.left span:nth-child(2) {
    animation-delay: -0.2s;
}

.left span:nth-child(3) {
    animation-delay: -0.4s;
}

.right {
    position: absolute;
    top: 3rem;
    left: 50rem;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
}

.right span {
    display: block;
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.right span:nth-child(2) {
    animation-delay: -0.2s;
}

.right span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
